body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
}

form {
  text-align: left; /* Poravnaj formu na levo */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Podešavanje debljine fonta na bold */
  text-align: left; /* Poravnaj labelu na levo */
}

input {
  width: 100%; /* Raširi input elemente na širinu roditeljskog elementa */
  padding: 8px; /* Povećaj razmak unutar input polja */
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%; /* Raširi dugme na širinu roditeljskog elementa */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#results {
  text-align: left;
}

#results ul {
  list-style-type: none; /* Ukloni bullet-ove iz liste */
  padding: 0;
}

#results li {
  margin-bottom: 10px;
}

#results li span {
  font-weight: bold; /* Podešavanje debljine fonta na bold */
}

